{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="{% static 'bulma.min.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css" >
</head>
<body>
    <nav class="navbar is-warning is-fixed-top">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
              <h1 class="title" >Djarko Project</h1>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item" href="#">Home</a>
                <a class="navbar-item" href="#">Services</a>
                <a class="navbar-item" href="#">About</a>
            </div>
        </div>
    </nav>
    <section class="hero is-light is-fullheight is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                {% block content %}
                    <h2>DJARKO</h2>
                {% endblock content %}
            </div>
        </div>
    </section>
    <footer class="footer">
         <div class="content has-text-centered">
            <h4>Djarko Project</h4>
         </div>
    </footer>
</body>
</html>